<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of todoData">
                    <td>{{i.id}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.completed}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>